<h1>Login To Your Rccount</h1>
<h2>Enter your phone number and password</h2>

<div class="form-wrapper">
    <div id="session-create" action="api/tokens" method="POST">
        <div class="form-error"></div>
        <div class="input-wrapper">
            <div class="input-label">Phone Number</div>
            <input type="text" name="phone" placeholder="(555) 555-5555">
        </div>
        <div class="input-wrapper">
            <div class="input-label">Your Password</div>
            <input type="password" name="password" placeholder="*********">
        </div>
        <div class="input-wrapper cta-wrapper">
            <button type="submit" class="cta blue">Login</button>
        </div>
    </div>
</div>